/* Set the min-width so that when the window is resized the look will stay consistant */
.charsheet {
	background-image: url("https://i.imgur.com/uO7G46b.jpg");
	background-color: #ddd;
	min-width: 800px;
}
/* Universal styling applied to all elements of these types */
h2 {
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
}
label {
	display: inline-block;
	width: 31%;
}
input {
	display: inline-block;
	width: 165px;
}
img {
	max-height: 100px;
}
textarea {
	resize: vertical;
}
/* Targetted styling that only effects elements with these classes */
input.sheet-short {
	width: 17%;
}
select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}
span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}
/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
	display: inline-block;
	text-align: center;
}
.sheet-stats h3:first-child {
	margin-left: 35%;
	margin-right: 15%;
}
.sheet-stats input {
	margin-right: 8%;
	width: 17%;
}
/* Hide actual radio/checkbox */
input[type="radio"],
input[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}
/* Fake radio/checkbox */
input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
    background: #f6f6f6;
    background: radial-gradient(#f6f6f6, #dfdfdf);
}
/* Fake radio */
input[type="radio"] + span::before {
    content: "";
    width: 12px;
    height: 12px;
    font-size: 24px;
    border-radius: 50%;
}
input[type="radio"]:checked + span::before {
    content: "•";
}
/* Fake checkbox */
input[type="checkbox"] + span::before {
    content: "";
    width: 25px;
    height: 25px;
    font-size: 20px;
    border-radius: 5px;
}
input[type="checkbox"]:checked + span::before {
    content: "✓";
}
